* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

p{
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-image: url(../images/glasses-bg.png);
  height: 31rem;
  background-size: cover;
  background-position: left;
  width: 100%;
}

header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  z-index: 2;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  z-index: 2;
}

.logo img {
  margin: 0 1rem;
  height: 1.5rem;
}

ul {
  padding: 1rem;
}

ul li {
  display: inline;
  padding: 1rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {

  header {
    height: 22rem;
  }

  .container {
    max-width: 100%;
  }

  header .header {
    top: 0;
  }

  header .desktop {
    display: none;
  }

  header .mobile-nav {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 17rem;
  }

  header .logo span {
    display: none;
  }
}

/* Main-banner */

.main-banner {

}

.container .headline h1 {
  padding: 1.5rem 5rem;
  background-color: white;
  position: relative;
  top: 12.5rem;
  float: right;
  margin-right: -2rem;
}

@media only screen and (max-width: 1024px) {
  .container .headline h1 {
    padding: 1rem 4rem;
    font-size: 1.33rem;
    top: 7.5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .container .headline h1 {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    top: 9rem;
    margin: 0 auto;
    text-align: center;
  }
}

/* Main Content */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.service img {
  max-width: 5rem;
  max-height: 60%;
}

.service h3 {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .services {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 3rem auto;
  }

  .service {
    margin: 0.79rem auto;
  }

  .ruler, .truck{
    height: 5rem;
  }

   .service h3 {
     font-size: 0.77rem;
   }
}

/* info */

.info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.description {
  display: inline-block;
  max-width: 35%;
  margin: 2.5%;
}

.description h2 {
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  margin-bottom: 1rem;
  width: 10rem;
}

@media only screen and (max-width: 480px) {
  .info {
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
  }

  .description {
    max-width: 100%;
    display: block;
  }

  .description h2 {
    text-align: center;
    width: 100%;
  }

  .description p {
    font-size: 0.77rem;
    margin: 1rem 0 4rem 0;
  }
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  padding: 3rem;
  background-color: azure;
  position: relative;
  top: 5rem;
}

footer img {
  height: 1.5rem;
  margin: 1rem;
}

@media only screen and (max-width: 480px) {
  footer {
    flex-direction: column;
  }
  footer span {
    display: none;
  }
}
